body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#90c2f7, #4694f3, rgb(4, 129, 232));
}


.container{
    border-radius: 12px;
    box-shadow: 12px 12px 20px #90c2f7,
                -12px -12px 20px rgb(4, 129, 232)
    padding: 18px;
    width: 400px;     
    max-width: 92%;    
    background: #ecf0f3;
}

.display #screen {
    width: 94%;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-left: .5em;
    padding-top: .5em;
    padding-right: .5em;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
}

.btns {
    width: 100%;
    margin-top: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btns .row button {
    flex: 1;                    
    height: 50px;
    font-size: 20px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 5px 5px 8px #00000020,
                -5px -5px 8px #ffffff;
    transition: .1s;
}

.btns .row button:hover {
    box-shadow: inset 5px 5px 8px #00000020,
                inset -5px -5px 8px #ffffff;
    background: #ffffff;      
}


#eval {
    background-color: #33ccff;
    color: white;
    box-shadow: inset 5px 5px 8px #66d9ff,
                inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 8px #2cc6fa,
                inset -5px 8px #00ace6;
}


#ac {
    background-color: #33cc33;
    color: white;
    box-shadow: inset 5px 5px 8px #4ae04a,
                inset -5px -5px 8px #2fa02f;
}

#ac:hover {
    box-shadow: inset 5px 8px #25c825,
                inset -5px 8px #33cc33;
}

#ce {
    background-color: #ff3399;
    color: white;
    box-shadow: inset 5px 5px 8px #ff3399,
                inset -5px -5px 8px #c92074;
}

#ce:hover {
    box-shadow: inset 5px 8px #f8388e,
                inset -5px 8px #ff3399;
}

@media (max-width: 480px) {
    .display #screen {
        height: 60px;
        font-size: 28px;
    }

    .btns .row button {
        height: 45px;
        font-size: 18px;
        margin: 4px;
    }
}


@media (max-width: 360px) {
    .display #screen {
        font-size: 24px;
    }

    .btns .row button {
        height: 40px;
        font-size: 16px;
    }
}




